<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IMDB 100</title>
  <link rel="stylesheet" type="text/css" href="./dist/main.bundle.css">
  <style>
    #app { padding-top: 50px; }
    #btnBack { position: fixed; top: 10px; left: 10px; z-index: 2; }
  </style>
</head>
<body>
  <div id="app">
    <button type="button" id="btnBack" v-on:click="showTopMovies">Top Movies</button>
    <search-bar></search-bar>

    <movie-list v-bind:data="topMovies" v-if="isDisplayModeTop"></movie-list>
    <movie-list v-bind:data="searchResults" v-if="isDisplayModeSearch"></movie-list>

    <movie-details v-if="isDetailsPanelShowed"></movie-details>
  </div>
  <script src="./dist/main.bundle.js"></script>
</body>
</html>